# Lambda test credentials 
username=
access_key=

# Platform for lambda test
IS_REMOTE=0

# Date for Birth day custom field
date=15

# Strip card
card_number=424242442242424
expiry_date=04/44
cvv_number=444
zip_code=44444

# # Base URLs (Pre-prod)
# url=
# logouturl=

# # Account Credentials (Pre-prod)
# email=
# password=

# Base URLs (Omnifyapp)
url=
logouturl=

# Account Credentials (Omnifyapp)
email=
password=
