# # Lambda test credentials 
# USERNAME=
# ACCESS_KEY=

# # Base URLs (Omnifyapp)
# URL=https://milfordsound.omnifyapp.com/
# LOGOUTURL=https://milfordsound.omnifyapp.com/welcome/logout

# # Account Credentials (Omnifyapp)
# EMAIL=
# PASSWORD=

# # Strip card Success Payment
# CARD_NUMBER=
# EXPIRY_DATE=
# CVV_NUMBER=
# ZIP_CODE=

# Running Screenshot
# RUNNING_SCREENSHOTS= 0

# Lambda test
# IS_REMOTE=0

# API interception
# NETWORK_INTERCEPTION=0

# API MITMPROXY
# ENABLE_MITMPROXY=0